<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.classification">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".kakaologin.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/tfe_ic_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ImageClassification"
        android:usesCleartextTraffic="true">
        <activity android:name=".test.WrongTest" android:screenOrientation="landscape" ></activity>
        <activity android:name=".wrong.WrongMainActivity" />
        <activity android:name=".voca.VocaMainActivity" />
        <activity android:name=".menu.Review"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.GameWinActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginActivty" />
        <activity
            android:name=".GamePopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.TestDone"
            android:screenOrientation="landscape" />
        <activity
            android:name=".test.WTestDone"
            android:screenOrientation="landscape" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".pmode.PmodeActivity" />
        <activity
            android:name=".pmode.PmodePopUpActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".pmode.ChildPopupActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".env.CameraPopUpActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".leveltest.LevelMain"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.Test"
            android:screenOrientation="landscape" />
        <activity
            android:name=".test.DailyTest"
            android:screenOrientation="landscape" />
        <activity
            android:name=".leveltest.level_test_score"
            android:screenOrientation="landscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.tensorflow.lite.examples.classification.env.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.tensorflow.lite.examples.classification.game.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".game.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level3StudyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".game.ClassifierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Papago"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.Study"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.main"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListenSpeak"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StudyDone"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.ReadAndWrite"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KidInfo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".kakaologin.kakao_main"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".env.MyCamera"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leveltest.level_test_tutorial"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".leveltest.level_test_choice"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>